.entry-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    border-radius: 0;
    width: 400px;
    height:500px;
}
.entry-page{
    background: url(https://img.freepik.com/free-vector/subtle-rombus-white-gray-pattern-background_1017-25098.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.entry-page img{
    margin-top: -30px;
    max-width: 400px;
    height:500px;
}